.layout {
  display: grid;
  grid-gap: var(--gutter-size);
  grid-template-rows: repeat(3, minmax(min-content, max-content));
  margin-bottom: var(--large-spacing);
}

/**
 * Grid of items.
 */
.grid {
  display: grid;
  list-style: none;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--large-gutter-size) var(--gutter-size);
  margin: 0;
  padding: 0;
}

@media (min-width: 440px) {
  .grid {
    /* grid-template-columns: repeat(3, 1fr); */
  }
}

@media (min-width: 712px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

.counter {
  color: var(--c-muted);
  font-weight: var(--font-weight-light);
}
