/**
 * Ensure all poster images are the same size.
 */
.posterWrapper {
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  overflow: hidden;
  position: relative;
  padding-top: 150%; /* 2:3 aspect ratio */
}

.posterImage {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.title {
  font-size: var(--x-small-font-size);
  font-weight: var(--font-weight-bold);
}

.genres {
  color: var(--c-muted);
  font-size: var(--tiny-font-size);
  font-weight: var(--font-weight-light);
}
